* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
.text-uppercase {
  text-transform: uppercase;
}

.header{
  display: flex;
  background-color: #2c3e50;
  height: 100px;
  color: white;
  justify-content: space-around;
  font-weight: 900;
  align-items: center;
  padding-right: 332px;
}
.name-position{
  position: relative;
  left: 30px;
  bottom: 1px;
}
.menu-top{
  display: flex;
  position: relative;
  left: 304px;
  bottom: 3px;
  font-size: 18px;
  list-style: none;
}
.menu-inline{
  display: inline-block;
  margin-right: 19px;
}

.area-1{
  display: flex;
  background-color: #18bc9c;
  width:100%;
  height:779px;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  align-items: center;
}
.central-img{
  position: relative;
  top: 171px;
  right: 2px;
  height: 282px;
  font-weight: 900;
}
.main-title{
  display: inline-block;
  font-size: 85px;
  font-weight: 700;
  letter-spacing: -2px;
  margin-top: 204px;
  margin-right: 12px;

  }
.lines{
  border: 3px solid white;
  width: 114px;
}
.icon-star{
  font-size: 37px;
  position: relative;
  bottom: 17px;
  color: white;
}
.icons{
  display: flex;
  width: 267px;
  margin-bottom: 77px;
  position: relative;
  bottom: 69px;
  right: 4px;
}
.main-subtitle{
  font-size: 27px;
  font-weight: 700;
  position: relative;
  bottom: 128px;
}

.area-2{
  display: flex;
  width:100%;
  height:860px;
  align-items: center;
  flex-direction: column;
}
.portfolio{
  font-weight: 900;
  font-size: 52px;
  margin-bottom: 0;
  margin-top: 93px;
}
.icons-2{
  display: flex;
  width: 309px;
  height: 20px;
  margin-bottom: 37px;
}
.lines-2{
  border: 2px solid black;
  width: 102px;
}
.figures{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 562px;
  width: 1110px;
}
.figures-height{
  width: 352px;
  height: 255px;
}

.area-3{
  display: flex;
  background-color: #18bc9c;
  color: white;
  flex-direction: column;
  height: 608px;
  width: 100%;
  align-items: center;
}
.about{
  font-weight: 700;
  font-size: 52px;
  margin-bottom: 0px;
  margin-top: 98px;
}
.line-3{
  border: 3px solid white;
  width: 100px;
}
.icons-3{
  display: flex;
  width: 242px;
  height: 22px;
}
.text{
  display: flex;
  width: 818px;
  height: 190px;
  margin-top: 45px;
}
.text-part1{
  margin-right: auto !important;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 19px;
  font-weight: 400;
}
.text-part2{
  margin-right: auto !important;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 19px;
  font-weight: 400;
}
.bnt{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-top: 47px;
  padding: 20px;
  background-color: #18bc9c;
  border: 2px solid white;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.bnt:hover{
  background-color: #F8F9FA;
  color: black;
}

.area-4{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 962px;
  width: 100%;
}
.container-area-4{
  width: 1140px;
  height: 770px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact{
  font-size: 3rem;
  margin-top: 76px;
}
.form-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 728px;
  height: 622px;
}
.container-form{
  position: relative;
  border-bottom: 1px solid #e9ecef;
  width: 730px;
}
.input-form{
  display: block;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  border: none;
  height: 97px;
}
.bnt-2{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-top: 47px;
  padding: 20px;
  background-color: #18bc9c;
  border: 2px solid white;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  right: 320px;
}
.bnt-2:hover{
  background-color: #128F76;
  color: white;
}




/* .Topopagina{
  background-color: #2c3e50;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
  color: white;
  align-items: center;
  font-weight: 700;
  flex-direction: row;
}
.ambiente1{
  background-color: #18bc9c;
  width:100%;
  height:748px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
}
.title{
  font-size: 80px;
}
.line{
  border: 2px solid white;
  width: 100px;
}
.menu{
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-around;
  list-style: none;
}
.ambiente2{
  width:100%;
  height:748px;
  font-family: 'Montserrat', sans-serif;
  /* background-color: red;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.titulospretos{
  color: black;
}

.portfolioimg{
  display: flex;
  list-style: none;
}  */
