* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
.text-uppercase {
  text-transform: uppercase;
}

.header{
  display: flex;
  background-color: #2c3e50;
  height: 100px;
  color: white;
  justify-content: space-around;
  font-weight: 900;
  align-items: center;
  padding-right: 332px;
}
.name-position{
  position: relative;
  left: 30px;
  bottom: 1px;
}
.menu-top{
  display: flex;
  position: relative;
  left: 304px;
  bottom: 3px;
  font-size: 18px;
  list-style: none;
}
.menu-inline{
  display: inline-block;
  margin-right: 19px;
  cursor: pointer;
}
.menu-inline:focus, .menu-inline:hover{
  color: #128f76;
}
.area-1{
  display: flex;
  background-color: #18bc9c;
  width:100%;
  height:779px;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  align-items: center;
}
.central-img{
  position: relative;
  top: 171px;
  right: 2px;
  height: 282px;
  font-weight: 900;
}
.main-title{
  display: inline-block;
  font-size: 85px;
  font-weight: 700;
  letter-spacing: -2px;
  margin-top: 204px;
  margin-right: 12px;

  }
.lines{
  border: 3px solid white;
  width: 114px;
}
.icon-star-2{
  font-size: 37px;
  position: relative;
  bottom: 17px;
  color: white;
}
.icon-star-1{
  font-size: 37px;
  position: relative;
  bottom: 17px;
  color: black;
}
.icons{
  display: flex;
  width: 267px;
  margin-bottom: 77px;
  position: relative;
  bottom: 81px;
  right: 4px;
}
.main-subtitle{
  font-size: 27px;
  font-weight: 700;
  position: relative;
  bottom: 128px;
}

.area-2{
  display: flex;
  width:100%;
  height:860px;
  align-items: center;
  flex-direction: column;
}
.portfolio{
  font-weight: 900;
  font-size: 52px;
  margin-bottom: 0;
  margin-top: 93px;
}
.icons-2{
  display: flex;
  width: 309px;
  height: 20px;
  margin-bottom: 37px;
}
.lines-2{
  border: 2px solid black;
  width: 102px;
}
.figures{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 562px;
  width: 1110px;
}
.figures-height{
  width: 352px;
  height: 255px;
}

.area-3{
  display: flex;
  background-color: #18bc9c;
  color: white;
  flex-direction: column;
  height: 608px;
  width: 100%;
  align-items: center;
}
.about{
  font-weight: 700;
  font-size: 52px;
  margin-bottom: 0px;
  margin-top: 98px;
}
.line-3{
  border: 3px solid white;
  width: 100px;
}
.icons-3{
  display: flex;
  width: 242px;
  height: 22px;
}
.text{
  display: flex;
  width: 818px;
  height: 190px;
  margin-top: 45px;
}
.text-part1{
  margin-right: auto !important;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 19px;
  font-weight: 400;
}
.text-part2{
  margin-right: auto !important;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 19px;
  font-weight: 400;
}
.bnt{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-top: 47px;
  padding: 20px;
  background-color: #18bc9c;
  border: 2px solid white;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.bnt:hover{
  background-color: #F8F9FA;
  color: black;
}

.area-4{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 962px;
  width: 100%;
}
.container-area-4{
  width: 1140px;
  height: 770px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact{
  font-size: 3rem;
  margin-top: 76px;
}
.line-4{
  border: 3px solid black;
  width: 100px;
}
.icons-4{
  display: flex;
  width: 242px;
  height: 22px;
  position: relative;
  bottom: 34px;
}
.form-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 728px;
  height: 622px;
}
.container-form{
  position: relative;
  border-bottom: 1px solid #e9ecef;
  width: 730px;
}
.input-form{
  display: block;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  border: none;
  height: 97px;
}
.message-position{
  position: relative;
  top: 27px;
}
.bnt-2{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-top: 47px;
  padding: 20px;
  background-color: #18bc9c;
  border: 2px solid white;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  right: 320px;
}
.bnt-2:hover{
  background-color: #128F76;
  color: white;
}

.footer{
  width: 100%;
  height: 316px;
  background-color: #2c3e50;
  color: white;
}
.container{
  height: 156px;
  width: 960px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  bottom: -34px;
  left: 296px;
}

.text-align{
  text-align: center;
}
.box-info{
  width: 320px;
  height: 156px;
  margin-bottom: 0!important;
}
.icon-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  right: 19px;
  bottom: -17px;
  margin: -19px;
}
.icons-style{
  font-size: 20px;
  border: 2px solid white;
  border-radius: 100%;
  color: white;
  width: 50px;
  height: 48px;
  padding: 10px;
}

.icons-style:hover{
  background-color: #F8F9FA;
}
a {
  color: #18BC9C;
}
a:focus, a:hover{
  color: black;
}
h4 {
  font-size: 1.5rem;
}
.link-style{
  text-decoration: none;
  color: white;
}
.text-type{
  font-family: 'Lato',sans-serif;
  font-size: 1.25rem;
}
.final-text{
  margin-top: -16px;
  background-color: #1a252f;
  color: white;
  height: 68px;
  width: 100%;
  text-align:center;
}
.copyright{
  font-size: 80%;
  font-weight: 400;
  font-family: 'Lato',sans-serif;
  padding: 24px;
}
